.aboutApp {
    position: fixed;
    text-align: center;
    align-items: center;
    width: 85vw;
    height: 25vh;
    margin-left: 25vw;
    margin-top: 5vw;
    padding: 60px;
}

.aboutHeader {
    display: flex;
    flex-direction: column;
    height: 25vh;
    background-color: black;
    margin-top: -50vh;
}

.aboutHeaderTitle {

    text-align: center;
    color: white;
    padding: 60px;
    padding-left: 5vw;

}

.aboutBody {
    position: fixed;
    margin: 5vw;
    margin-top: 50px;
    padding: 20vh;
    height: 65vh;
    width: 135vh;
    background-color: white;
    border-radius: 15%;
}

.aboutBodyLinks {
    padding: 5vh;
}