.header {
    display: flex;
    flex-direction: column;
    height: 25vh;
    background-color: black;
    margin-top: -50vh;
}

.headerTitle {

    text-align: center;
    color: white;
    padding: 60px;
    padding-left: 5vw;
    
}