.memorycardapp {
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    margin: 25%;
    margin-left: 40%;
    margin-bottom: 40%;
    width: 60%;
    height: 60%;
}

.memorycardcontainer {

    margin: 10%;
    margin-left: 21%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: stretch;
    gap: 12rem;
    width: 20%;
    height: 20%;
    perspective: 20%;
    max-width: 50%;
}

.memorycardappheader {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}

.memorycardappfooter {
    width: 360px;
    position: relative;
    margin: 10%;
    margin-top: 35%;
    margin-left: 35%;
}

.memorycardapprestartdiv {
    display: flex;
    justify-content: center;
}

.memorycardapprestart {
    padding: 10%;
    height: 100%;
    width: 60%;
}