.memorycardapp {
    font-family: sans-serif;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin: 25%;
    margin-left: 50%;
    margin-bottom: 30%;
    padding: 20px;
    width: 50%;
    height: calc( 75vh );
    background-color: white;
    border-radius: 20%;
}

.memorycardcontainer {

    margin: 5%;
    margin-left: -25%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: stretch;
    gap: 12rem;
    width: 20vw;
    height: calc( 10vh );
    perspective: 20%;
    max-width: 50%;
}

.memorycardappheader {
    position: relative;
    width: 100%;
    text-align: center;
}

.memorycardappfooter {
    width: 360px;
    position: relative;
    margin-top: 20vw;
}

.memorycardapprestartdiv {
    display: flex;
    justify-content: center;
}

.memorycardapprestart {
    margin: 45px;
    padding: 20px;
    height: 100px;
    width: 600px;
}