.rpsapp {
    position: fixed;
    margin: 25%;
    margin-left: 20%;
}

.rpsheader {
    position: fixed;
    margin: -25%;
    margin-left: -15%;
    padding: 10%;
    width: 50%;
}

.rpsbody {
    position: relative;
    margin: 25%;
    padding: 20%;
}

.rpsfooter {
    position: fixed;
    margin: 10%;
    margin-left: 7%;
}

.rpsgameimgdiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 60px;
    grid-gap: 20px;
    position: fixed;
    gap: 4rem;
}

.rpsgameimgs {
    margin-left: 50%;
    border: 1px solid grey;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.rpsChoiceSec {
    position: fixed;
    margin-top: -5%;
    margin-left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}