.tiktaktoeapp {

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin: 5px;
  margin-left: 20vw;
  margin-top: 20vw;

}

.heading {

  padding: 40px;
  margin: 75px;
  border: 2px solid white;
  border-radius: 25%;

}

.tI {

  color: red;

}

.tA {

  color: blue;

}

.tO {

  color: yellow

}

.tiktaktoerestartButton {

  margin-left: 30px;
  margin-right: 30px;
  border-radius: 20%;
  height: 80px;
  width: 10vw;

  color: green;

}


