.card {

    width: 10%;
    height: 10%;
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;

}

.card-face {
    backface-visibility: hidden;
    position: absolute;
}

.card-back-face { 
    transform: rotateY(180deg);
}

.is-flipped {
    transform: rotateY(180deg);
}

.is-inactive {
    opacity: 0;
}