.card {

    width: 10%;
    height: 10%;
    border-radius: 4px;
    transition: 0.3s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;

}

.card-face {
    backface-visibility: hidden;
    position: absolute;
}